In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_0_500000.csv')
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [4]:
df1 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_500000_1000000.csv')
df1.head()

         date state   district  pincode  bio_age_5_17  bio_age_17_
0  19-09-2025   Goa  North Goa   403502             0            4
1  19-09-2025   Goa  North Goa   403508             1            4
2  19-09-2025   Goa  North Goa   403513             2            0
3  19-09-2025   Goa  North Goa   403527             2            2
4  19-09-2025   Goa  South Goa   403601             7            3

In [5]:
df2 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1000000_1500000.csv')
df2.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [6]:
df3 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1500000_1861108.csv')
df3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [7]:
merged_df = pd.concat([df, df1], axis=0, ignore_index=True)

In [8]:
merged_df1 = pd.concat([merged_df, df2], axis=0, ignore_index=True)

In [9]:
final_df = pd.concat([merged_df1, df3], axis=0, ignore_index=True)

In [10]:
final_df_null_summary = final_df.isnull().sum()
final_df_null_summary

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

In [12]:
(final_df.isnull().sum() / len(df)) * 100

date            0.0
state           0.0
district        0.0
pincode         0.0
bio_age_5_17    0.0
bio_age_17_     0.0
dtype: float64

In [13]:
final_df['date'] = pd.to_datetime(final_df['date'], dayfirst=True)
final_df["bio_age_5_17"] = pd.to_numeric(df["bio_age_5_17"])
final_df["bio_age_17_"] = pd.to_numeric(df["bio_age_17_"])
final_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,2025-03-01,Haryana,Mahendragarh,123029,280.0,577.0
1,2025-03-01,Bihar,Madhepura,852121,144.0,369.0
2,2025-03-01,Jammu and Kashmir,Punch,185101,643.0,1091.0
3,2025-03-01,Bihar,Bhojpur,802158,256.0,980.0
4,2025-03-01,Tamil Nadu,Madurai,625514,271.0,815.0

In [14]:
df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh'], dtype=object)

In [15]:
df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh'], dtype=object)

In [16]:
state_mapping = {
    
    "west Bengal": "West Bengal",
    "WEST BENGAL": "West Bengal",
    "Westbengal": "West Bengal",
    "West  Bengal": "West Bengal",
    "WESTBENGAL": "West Bengal",
    "West bengal": "West Bengal",
    "West Bangal": "West Bengal",
    "Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "Daman & Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "ODISHA": "Odisha",
    "odisha": "Odisha",
    "Orissa": "Odisha",
    "Jammu & Kashmir": "Jammu and Kashmir",
    "Andaman & Nicobar Islands": "Andaman and Nicobar Islands",
    "Pondicherry": "Puducherry",
    "Chhatisgarh": "Chhattisgarh",
    "andhra pradesh": "Andhra Pradesh",
    "Uttaranchal": "Uttarakhand"

}

In [17]:
final_df["state"] = (final_df["state"].str.strip().str.lower().str.replace("&", "and").str.replace(r"\s+", " ", regex=True))

In [18]:
final_df["state"] = df["state"].replace(state_mapping)

In [19]:
final_df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Puducherry',
       'Manipur', 'Sikkim', 'Tripura', 'Mizoram', 'Arunachal Pradesh',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Andaman and Nicobar Islands', 'Lakshadweep', nan], dtype=object)

In [20]:
final_df["state"].value_counts().sort_index()

state
Andaman and Nicobar Islands                   517
Andhra Pradesh                              44995
Arunachal Pradesh                            1219
Assam                                       12985
Bihar                                       23057
Chandigarh                                    469
Chhattisgarh                                 8431
Dadra and Nagar Haveli and Daman and Diu      388
Delhi                                        2600
Goa                                          1432
Gujarat                                     24664
Haryana                                      6936
Himachal Pradesh                             7327
Jammu and Kashmir                            4894
Jharkhand                                    9842
Karnataka                                   38324
Kerala                                      25502
Ladakh                                        179
Lakshadweep                                   144
Madhya Pradesh                              19040
Maharashtra                                 40479
Manipur                                      1751
Meghalaya                                    1252
Mizoram                                      1014
Nagaland                                     1055
Odisha                                      28045
Puducherry                                   1379
Punjab                                      13152
Rajasthan                                   21993
Sikkim                                        738
Tamil Nadu                                  46553
Telangana                                   21823
Tripura                                      2191
Uttar Pradesh                               42938
Uttarakhand                                  5942
West Bengal                                 36750
Name: count, dtype: int64

In [21]:
state_summary = (final_df.groupby("state")[["bio_age_5_17", "bio_age_17_"]].sum().sort_values("bio_age_17_", ascending=False))
state_summary.head(10)

                bio_age_5_17  bio_age_17_
state
Maharashtra        2302178.0    3724136.0
Uttar Pradesh      4401771.0    2253012.0
Madhya Pradesh     2542494.0    2076763.0
Bihar              1656939.0    1902982.0
Tamil Nadu         1258277.0    1769915.0
Gujarat            1110491.0    1349505.0
Rajasthan          1501391.0    1349196.0
Chhattisgarh        349528.0    1278325.0
West Bengal         750808.0    1031958.0
Karnataka           865171.0    1012535.0

In [22]:
date_summary = (final_df.groupby("date")[["bio_age_5_17", "bio_age_17_"]].sum().reset_index())
date_summary.head(10)

        date  bio_age_5_17  bio_age_17_
0 2025-03-01     3733578.0    4588644.0
1 2025-04-01     4356896.0    4284783.0
2 2025-05-01     3868247.0    4011709.0
3 2025-06-01     3710149.0    4189140.0
4 2025-07-01     4499057.0    5293495.0
5 2025-09-01      153844.0     182615.0
6 2025-09-02      149140.0     168565.0
7 2025-09-03      152045.0     161568.0
8 2025-09-04      143734.0     157289.0
9 2025-09-05       49049.0      46732.0

In [23]:
q1 = final_df["bio_age_17_"].quantile(0.25)
q3 = final_df["bio_age_17_"].quantile(0.75)
IQR = q3 - q1

outliers = final_df[final_df["bio_age_17_"]>(q3+1.5*IQR)]
outliers.shape

(81505, 6)

In [24]:
df4 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\api_data_aadhar_demographic\\api_data_aadhar_demographic\\api_data_aadhar_demographic_0_500000.csv")
df4.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [25]:
df5 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\api_data_aadhar_demographic\\api_data_aadhar_demographic\\api_data_aadhar_demographic_500000_1000000.csv")
df5.head()

         date        state    district  pincode  demo_age_5_17  demo_age_17_
0  19-09-2025  Maharashtra      Satara   415517              0             2
1  19-09-2025  Maharashtra      Satara   415518              0             2
2  19-09-2025  Maharashtra      Satara   415520              0             3
3  19-09-2025  Maharashtra      Satara   415539              1             5
4  19-09-2025  Maharashtra  Sindhudurg   416510              4            37

In [26]:
df6 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\api_data_aadhar_demographic\\api_data_aadhar_demographic\\api_data_aadhar_demographic_1000000_1500000.csv")
df6.head()

         date       state    district  pincode  demo_age_5_17  demo_age_17_
0  01-11-2025  Puducherry    Karaikal   609603              0             4
1  01-11-2025  Puducherry    Karaikal   609605              0             3
2  01-11-2025  Puducherry    Karaikal   609606              0             5
3  01-11-2025  Puducherry  Puducherry   605011              2             6
4  01-11-2025  Puducherry  Puducherry   605111              0             1

In [27]:
df7 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\api_data_aadhar_demographic\\api_data_aadhar_demographic\\api_data_aadhar_demographic_1500000_2000000.csv")
df7.head()

         date      state district  pincode  demo_age_5_17  demo_age_17_
0  18-11-2025  Karnataka    Hasan   573118              0             2
1  18-11-2025  Karnataka    Hasan   573124              1             3
2  18-11-2025  Karnataka    Hasan   573150              0             2
3  18-11-2025  Karnataka   Hassan   573113              0             1
4  18-11-2025  Karnataka   Hassan   573120              1             4

In [28]:
df8 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\api_data_aadhar_demographic\\api_data_aadhar_demographic\\api_data_aadhar_demographic_2000000_2071700.csv")
df8.head()

         date           state  district  pincode  demo_age_5_17  demo_age_17_
0  16-12-2025  Madhya Pradesh  Shajapur   465113              0             4
1  16-12-2025  Madhya Pradesh  Shajapur   465226              2            14
2  16-12-2025  Madhya Pradesh  Shajapur   465339              1             2
3  16-12-2025  Madhya Pradesh  Shajapur   465447              1            19
4  16-12-2025  Madhya Pradesh   Sheopur   476332             11            25

In [29]:
merge_df = pd.concat([df4, df5], axis=0, ignore_index=True , join='inner')

In [30]:
merge1_df = pd.concat([merge_df, df6], axis=0, ignore_index=True, join='inner')

In [31]:
merge2_df = pd.concat([merge1_df, df7], axis=0, ignore_index=True, join='inner')

In [32]:
f_df = pd.concat([merge2_df, df8], axis=0, ignore_index=True, join='inner')
f_df.shape

(2071700, 6)

In [33]:
f_df['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli', 'BALANAGAR',
       'Uttaranchal', '100000', 'Jaipur', 'Madanapalle', 'Nagpur',
       'Raja Annamalai Puram'], dtype=object)

In [34]:
state_mapping1 = {
    
    "west Bengal": "West Bengal",
    "WEST BENGAL": "West Bengal",
    "Westbengal": "West Bengal",
    "West  Bengal": "West Bengal",
    "WESTBENGAL": "West Bengal",
    "West bengal": "West Bengal",
    "West Bangal": "West Bengal",
    "West Bengli": "West Bengal",
    "Puttenahalli": "Karnataka",
    "BALANAGAR": "Telangana",
    "Darbhanga": "Bihar",
    "Jaipur": "Rajasthan",
    "Nagpur": "Maharashtra",
    "Madanapalle": "Andhra Pradesh",
    "Raja Annamalai Puram": "Tamil Nadu",
    "Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "Daman & Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "The Dadra And Nagar Haveli And Daman And Diu":"Dadra and Nagar Haveli and Daman and Diu",
    "ODISHA": "Odisha",
    "odisha": "Odisha",
    "Orissa": "Odisha",
    "Jammu & Kashmir": "Jammu and Kashmir",
    "Andaman & Nicobar Islands": "Andaman and Nicobar Islands",
    "Pondicherry": "Puducherry",
    "Chhatisgarh": "Chhattisgarh",
    "andhra pradesh": "Andhra Pradesh",
    "Uttaranchal": "Uttarakhand"

}

In [35]:
f_df["state"] = f_df["state"].replace(state_mapping1)

In [36]:
print(f_df[f_df["state"]=="100000"])

               date   state district  pincode  demo_age_5_17  demo_age_17_
795161   23-12-2025  100000   100000   100000              0             1
2007370  20-12-2025  100000   100000   100000              0             1

In [37]:
f_df = f_df[f_df["state"]!="100000"]

In [38]:
f_df["state"].value_counts().sort_index()

state
Andaman and Nicobar Islands                   1724
Andhra Pradesh                              207742
Arunachal Pradesh                             4726
Assam                                        62834
Bihar                                        97623
Chandigarh                                    2044
Chhattisgarh                                 35730
Dadra and Nagar Haveli and Daman and Diu      1627
Delhi                                        10510
Goa                                           5921
Gujarat                                      96399
Haryana                                      28554
Himachal Pradesh                             28037
Jammu and Kashmir                            20601
Jharkhand                                    39653
Karnataka                                   153958
Kerala                                      105515
Ladakh                                         865
Lakshadweep                                    520
Madhya Pradesh                               76364
Maharashtra                                 162243
Manipur                                       7289
Meghalaya                                     5363
Mizoram                                       3840
Nagaland                                      4035
Odisha                                      105935
Puducherry                                    4886
Punjab                                       49611
Rajasthan                                    89510
Sikkim                                        3219
Tamil Nadu                                  196858
Telangana                                    89088
Tripura                                       8845
Uttar Pradesh                               167889
Uttarakhand                                  23070
West Bengal                                 169070
Name: count, dtype: int64

In [39]:
f_df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [40]:
df8 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_enrolment_0_500000.csv")
df8.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [41]:
df9 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_enrolment_500000_1000000.csv")
df9.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0

In [42]:
df10 = pd.read_csv("C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_enrolment_1000000_1006029.csv")
df10.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [43]:
merg_df = pd.concat([df8, df9], axis=0, ignore_index=True , join='inner')

In [44]:
full_df = pd.concat([merg_df, df10], axis=0, ignore_index=True , join='inner')

In [45]:
full_df.shape

(1006029, 7)

In [46]:
full_df["state"] = full_df["state"].replace(state_mapping1)

In [47]:
full_df["state"].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'Dadra and Nagar Haveli and Daman and Diu', 'Arunachal Pradesh',
       'Himachal Pradesh', 'Goa', 'Jammu And Kashmir', 'Ladakh',
       'Andaman and Nicobar Islands', 'Puducherry', 'Lakshadweep',
       '100000'], dtype=object)

In [48]:
print(full_df[full_df["state"]=="100000"])

              date   state district  pincode  age_0_5  age_5_17  \
23108   02-09-2025  100000   100000   100000        0         0
46946   03-09-2025  100000   100000   100000        0         0
97816   08-09-2025  100000   100000   100000        0         0
115798  09-09-2025  100000   100000   100000        0         0
153156  11-09-2025  100000   100000   100000        0         0
160195  12-09-2025  100000   100000   100000        0         0
261778  19-09-2025  100000   100000   100000        0         0
272731  20-09-2025  100000   100000   100000        0         0
470934  24-10-2025  100000   100000   100000        0         1
762744  15-11-2025  100000   100000   100000        0         0
780936  16-11-2025  100000   100000   100000        0         0
791621  17-11-2025  100000   100000   100000        0         0
823985  19-11-2025  100000   100000   100000        0         0
861631  15-12-2025  100000   100000   100000        0         0
914457  24-12-2025  100000   100000   100000        0         0
929221  25-12-2025  100000   100000   100000        0         0
947831  26-12-2025  100000   100000   100000        0         0
959114  27-12-2025  100000   100000   100000        0         0
960973  27-12-2025  100000   100000   100000        0         0
968919  28-12-2025  100000   100000   100000        0         0
976509  29-12-2025  100000   100000   100000        0         0
988283  31-12-2025  100000   100000   100000        0         0

        age_18_greater
23108                3
46946                1
97816                1
115798               1
153156               2
160195               2
261778               1
272731               1
470934               0
762744               3
780936               2
791621               4
823985               2
861631             161
914457               1
929221               4
947831               3
959114               4
960973               4
968919               5
976509               8
988283               4

In [49]:
full_df = full_df[full_df["state"]!="100000"]

In [50]:
full_df["state"].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'Dadra and Nagar Haveli and Daman and Diu', 'Arunachal Pradesh',
       'Himachal Pradesh', 'Goa', 'Jammu And Kashmir', 'Ladakh',
       'Andaman and Nicobar Islands', 'Puducherry', 'Lakshadweep'],
      dtype=object)

In [51]:
ff_df = pd.concat([final_df, f_df], axis=0, ignore_index=True , join='outer')

In [52]:
ff_df.shape

(3932806, 8)

In [53]:
ff_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_
0,2025-03-01 00:00:00,Haryana,Mahendragarh,123029,280.0,577.0,NaN,NaN
1,2025-03-01 00:00:00,Bihar,Madhepura,852121,144.0,369.0,NaN,NaN
2,2025-03-01 00:00:00,Jammu and Kashmir,Punch,185101,643.0,1091.0,NaN,NaN
3,2025-03-01 00:00:00,Bihar,Bhojpur,802158,256.0,980.0,NaN,NaN
4,2025-03-01 00:00:00,Tamil Nadu,Madurai,625514,271.0,815.0,NaN,NaN

In [54]:
adhaar_df = pd.concat([full_df, ff_df], axis=0, ignore_index=True , join='outer')

In [55]:
adhaar_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11.0,61.0,37.0,NaN,NaN,NaN,NaN
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14.0,33.0,39.0,NaN,NaN,NaN,NaN
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29.0,82.0,12.0,NaN,NaN,NaN,NaN
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62.0,29.0,15.0,NaN,NaN,NaN,NaN
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14.0,16.0,21.0,NaN,NaN,NaN,NaN

In [56]:
from sklearn.impute import SimpleImputer

numeric_features = ["bio_age_5_17", "bio_age_17_", "demo_age_5_17", "demo_age_17_","age_0_5","age_5_17","age_18_greater"]
median_imputer = SimpleImputer(strategy="median")
adhaar_df[numeric_features] = median_imputer.fit_transform(adhaar_df[numeric_features])

In [57]:
adhaar_df['date'] = pd.to_datetime(adhaar_df['date'], dayfirst=True)
adhaar_df["bio_age_5_17"] = pd.to_numeric(adhaar_df["bio_age_5_17"])
adhaar_df["bio_age_17_"] = pd.to_numeric(adhaar_df["bio_age_17_"])
adhaar_df["age_0_5"] = pd.to_numeric(adhaar_df["age_0_5"])
adhaar_df["age_5_17"] = pd.to_numeric(adhaar_df["age_5_17"])
adhaar_df["age_18_greater"] = pd.to_numeric(adhaar_df["age_18_greater"])
adhaar_df["ademo_age_5_17"] = pd.to_numeric(adhaar_df["demo_age_5_17"])
adhaar_df["demo_age_17_"] = pd.to_numeric(adhaar_df["demo_age_17_"])

In [58]:
adhaar_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_,ademo_age_5_17
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11.0,61.0,37.0,5.0,6.0,1.0,6.0,1.0
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14.0,33.0,39.0,5.0,6.0,1.0,6.0,1.0
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29.0,82.0,12.0,5.0,6.0,1.0,6.0,1.0
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62.0,29.0,15.0,5.0,6.0,1.0,6.0,1.0
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14.0,16.0,21.0,5.0,6.0,1.0,6.0,1.0

In [59]:
adhaar_df.to_csv("adhaar.csv", index=False)