In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\hitarth khatiwala\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_0_500000.csv')
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [4]:
df1 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_500000_1000000.csv')
df1.head()

         date state   district  pincode  bio_age_5_17  bio_age_17_
0  19-09-2025   Goa  North Goa   403502             0            4
1  19-09-2025   Goa  North Goa   403508             1            4
2  19-09-2025   Goa  North Goa   403513             2            0
3  19-09-2025   Goa  North Goa   403527             2            2
4  19-09-2025   Goa  South Goa   403601             7            3

In [5]:
df2 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1000000_1500000.csv')
df2.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [6]:
df3 = pd.read_csv('C:\\Users\\Hitarth Khatiwala\\Adhaar\\.ipynb_checkpoints\\Dataset\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1500000_1861108.csv')
df3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [7]:
merged_df = pd.concat([df, df1], axis=0, ignore_index=True)

In [8]:
merged_df1 = pd.concat([merged_df, df2], axis=0, ignore_index=True)

In [9]:
final_df = pd.concat([merged_df1, df3], axis=0, ignore_index=True)

In [10]:
final_df_null_summary = final_df.isnull().sum()
final_df_null_summary

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

In [12]:
(final_df.isnull().sum() / len(df)) * 100

date            0.0
state           0.0
district        0.0
pincode         0.0
bio_age_5_17    0.0
bio_age_17_     0.0
dtype: float64

In [13]:
final_df['date'] = pd.to_datetime(final_df['date'], dayfirst=True)
final_df["bio_age_5_17"] = pd.to_numeric(df["bio_age_5_17"])
final_df["bio_age_17_"] = pd.to_numeric(df["bio_age_17_"])
final_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,2025-03-01,Haryana,Mahendragarh,123029,280.0,577.0
1,2025-03-01,Bihar,Madhepura,852121,144.0,369.0
2,2025-03-01,Jammu and Kashmir,Punch,185101,643.0,1091.0
3,2025-03-01,Bihar,Bhojpur,802158,256.0,980.0
4,2025-03-01,Tamil Nadu,Madurai,625514,271.0,815.0

In [14]:
df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh'], dtype=object)

In [15]:
final_df["state"] = (final_df["state"].str.strip().str.lower().str.replace("&", "and").str.replace(r"\s+", " ", regex=True))

In [16]:
df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh'], dtype=object)

In [22]:
state_mapping = {
    
    "west Bengal": "West Bengal",
    "WEST BENGAL": "West Bengal",
    "Westbengal": "West Bengal",
    "West  Bengal": "West Bengal",
    "WESTBENGAL": "West Bengal",
    "West bengal": "West Bengal",
    "West Bangal": "West Bengal",
    "Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "Daman & Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "ODISHA": "Odisha",
    "odisha": "Odisha",
    "Orissa": "Odisha",
    "Jammu & Kashmir": "Jammu and Kashmir",
    "Andaman & Nicobar Islands": "Andaman and Nicobar Islands",
    "Pondicherry": "Puducherry",
    "Chhatisgarh": "Chhattisgarh",
    "andhra pradesh": "Andhra Pradesh",
    "Uttaranchal": "Uttarakhand"

}

In [23]:
final_df["state"] = df["state"].replace(state_mapping)

In [24]:
final_df["state"].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Puducherry',
       'Manipur', 'Sikkim', 'Tripura', 'Mizoram', 'Arunachal Pradesh',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Andaman and Nicobar Islands', 'Lakshadweep', nan], dtype=object)

In [25]:
final_df["state"].value_counts().sort_index()

state
Andaman and Nicobar Islands                   517
Andhra Pradesh                              44995
Arunachal Pradesh                            1219
Assam                                       12985
Bihar                                       23057
Chandigarh                                    469
Chhattisgarh                                 8431
Dadra and Nagar Haveli and Daman and Diu      388
Delhi                                        2600
Goa                                          1432
Gujarat                                     24664
Haryana                                      6936
Himachal Pradesh                             7327
Jammu and Kashmir                            4894
Jharkhand                                    9842
Karnataka                                   38324
Kerala                                      25502
Ladakh                                        179
Lakshadweep                                   144
Madhya Pradesh                              19040
Maharashtra                                 40479
Manipur                                      1751
Meghalaya                                    1252
Mizoram                                      1014
Nagaland                                     1055
Odisha                                      28045
Puducherry                                   1379
Punjab                                      13152
Rajasthan                                   21993
Sikkim                                        738
Tamil Nadu                                  46553
Telangana                                   21823
Tripura                                      2191
Uttar Pradesh                               42938
Uttarakhand                                  5942
West Bengal                                 36750
Name: count, dtype: int64

In [26]:
state_summary = (final_df.groupby("state")[["bio_age_5_17", "bio_age_17_"]].sum().sort_values("bio_age_17_", ascending=False))
state_summary.head(10)

                bio_age_5_17  bio_age_17_
state
Maharashtra        2302178.0    3724136.0
Uttar Pradesh      4401771.0    2253012.0
Madhya Pradesh     2542494.0    2076763.0
Bihar              1656939.0    1902982.0
Tamil Nadu         1258277.0    1769915.0
Gujarat            1110491.0    1349505.0
Rajasthan          1501391.0    1349196.0
Chhattisgarh        349528.0    1278325.0
West Bengal         750808.0    1031958.0
Karnataka           865171.0    1012535.0

In [27]:
date_summary = (final_df.groupby("date")[["bio_age_5_17", "bio_age_17_"]].sum().reset_index())
date_summary.head(10)

        date  bio_age_5_17  bio_age_17_
0 2025-03-01     3733578.0    4588644.0
1 2025-04-01     4356896.0    4284783.0
2 2025-05-01     3868247.0    4011709.0
3 2025-06-01     3710149.0    4189140.0
4 2025-07-01     4499057.0    5293495.0
5 2025-09-01      153844.0     182615.0
6 2025-09-02      149140.0     168565.0
7 2025-09-03      152045.0     161568.0
8 2025-09-04      143734.0     157289.0
9 2025-09-05       49049.0      46732.0

In [30]:
q1 = final_df["bio_age_17_"].quantile(0.25)
q3 = final_df["bio_age_17_"].quantile(0.75)
IQR = q3 - q1

outliers = final_df[final_df["bio_age_17_"]>(q3+1.5*IQR)]
outliers.shape

(81505, 6)